<md-dialog flex="55" flex-md="65">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Asset Details</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="assetDetails.close()">
                <md-icon aria-label="Close Dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always"> 
            <md-tab label="Details">
                <md-content layout="column">
                    <div layout-margin>
                        <div layout="row">
                            <div class="md-title" md-colors="{color: 'primary'}">{{assetDetails.allocation.name}}</div>
                        </div>
                        <div layout="row">  
                            <div class="md-subhead">{{assetDetails.allocation.assetType.name}}</div>
                        </div>
                    
                        <md-table-container>
                            <table md-table>
                                <tbody md-body>
                                    <tr md-row> 
                                        <td md-cell>In</td>
                                        <td md-cell>
                                            <span ng-if="assetDetails.allocation.entryDate">{{ assetDetails.allocation.entryDate | amDateFormat:'MM/DD/YYYY hh:mm A' }}</span>
                                            <span ng-if="!assetDetails.allocation.entryDate">{{ '-' }}</span>
                                        </td>
                                    </tr>
                                    <tr md-row>
                                        <td md-cell>{{assetDetails.allocation.locationLabel}}</td>
                                        <td md-cell>
                                            <span>
                                                {{assetDetails.allocation.location.area}}
                                                <span ng-if="!assetDetails.allocation.location.area && !assetDetails.allocation.location.room">Unknown</span>
                                                <span ng-if="assetDetails.allocation.location.area && assetDetails.allocation.location.room">, </span>
                                                {{assetDetails.allocation.location.room}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr md-row>
                                        <td md-cell>Status</td>
                                        <td md-cell>{{assetDetails.allocation.status || '-'}}</td>
                                    </tr>
                                    <tr md-row>
                                        <td md-cell>Description</td>
                                        <td md-cell>
                                            <span ng-if="assetDetails.allocation.meta.assetDescription">{{assetDetails.allocation.meta.assetDescription}}</span>
                                            <span ng-if="!assetDetails.allocation.meta.assetDescription">{{'-'}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </md-table-container>
                        </div>
                </md-content>
            </md-tab>
            <md-tab label="Location History">
                <md-content layout="column" layout-margin>
                    <div layout-margin>
                        <div layout="row">
                            <div class="md-title" md-colors="{color: 'primary'}">{{assetDetails.allocation.name}}</div>
                        </div>
                        <div layout="row">  
                            <div class="md-subhead">{{assetDetails.allocation.assetType.name}}</div>
                        </div>
                    </div>
                    <!-- <div layout="row">
                        <div>{{assetDetails.allocation.locationLabel}}:&nbsp</div>
                        <div>
                            {{assetDetails.allocation.location.area}}
                            <span ng-if="!assetDetails.allocation.location.area && !assetDetails.allocation.location.room">Unknown</span>
                            <span ng-if="assetDetails.allocation.location.area && assetDetails.allocation.location.room">, </span>
                            {{assetDetails.allocation.location.room}}
                        </div>
                    </div> -->

                    <!-- <md-card> -->
                        <!-- <md-toolbar class="md-table-toolbar md-default"> -->
                        <div layout="row" layout-margin> <!--<div class="md-toolbar-tools">-->
                            <div class="md-subhead">
                                Previous Locations
                            </div>
                        </div>
                        <!-- </md-toolbar> -->
                        
                        <md-table-container ng-if="assetDetails.allocation.history.length != 0">
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column>Name</th>
                                    <th md-column>Status</th>
                                    <th md-column>In</th>
                                    <th md-column>Out</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="item in assetDetails.allocation.history">
                                    <td md-cell><span ng-if="item.parentName && item.parentName.length > 0">{{item.parentName + ', '}}</span>{{ item.roomName }}</td>
                                    <td md-cell>{{item.status}}</td>
                                    <td md-cell>{{item.entryTime | amDateFormat:'MM/DD/YYYY  h:mma'}}</td>
                                    <td md-cell>{{item.exitTime | amDateFormat:'MM/DD/YYYY h:mma'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </md-table-container>
                        <div layout="row" layout-margin ng-if="assetDetails.allocation.history.length == 0">No location history available</div>
                        <div layout="row" layout-margin ng-show='isBusyRequestingData'>Loading history...</div>
                    <!-- </md-card> -->
                </md-content>
            </md-tab>
            <md-tab label="View Map" ng-if="allocationOptions.mapImageUrl">
                <md-content layout="column" layout-margin>
                    <div id="asset-map-id" layout="column">
                        <leaflet-map container-id="asset-map-id" style="height: 480px; width: 100%;" id="allocation-map" class="allocation-map-wrapper" image-overlay="allocationOptions.mapImageUrl"
                                        height="allocationOptions.height" width="allocationOptions.width" features="allocationFeatures" can-draw="false"
                                        can-edit="false" can-delete="false"></leaflet-map>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <div ng-if="assetDetails.ROLES.SAD || assetDetails.ROLES.HAD || assetDetails.ROLES.HCL">
            <md-button class="md-icon-button" ng-click="assetDetails.edit()">
                <md-tooltip>Edit</md-tooltip>
                <md-icon>mode_edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="assetDetails.discard()">
                <md-tooltip>Discharge</md-tooltip>
                <md-icon>delete</md-icon>>
            </md-button>
            <md-button ng-hide="true"></md-button>
        </div>
    </md-dialog-actions>
</md-dialog>
