<md-content class="loginIEMaxWidth" layout="column" flex layout-align="center center" ng-if="!showExpiredTokenMessage" ng-cloak  style="overflow-x: hidden">

    <div layout="row" class="loginIEMaxWidth" layout-align="center center" ng-if="isRequestingReset">
        <md-whiteframe style="width: 100%; min-height: 300px; min-width: 500px;" class="md-whiteframe-4dp" layout="column" flex="40" flex-sm="100" layout-padding>
            <form class="loginIEMaxHeight" name="requestResetForm">
                <md-content style="overflow-x: hidden">
                    <img ng-src="{{theme.logo}}"  width="100%"/>
                    <md-input-container layout="column">
                        <label>Email</label>
                        <input name="email" ng-model="resetObject.email" type="email" required/>
                        <div ng-if="requestResetForm.email.$dirty && requestResetForm.email.$invalid" role="alert">
                            <div class="red-alert" ng-if="requestResetForm.email.$error['required']">Please enter an email address</div>
                            <div class="red-alert" ng-if="requestResetForm.email.$error['email']">Please enter a valid email address</div>
                        </div>
                    </md-input-container>
                    <div layout="row" layout-sm="column" layout-align="center center" layout-margin>
                        <md-button class="md-raised" flex="40" flex-md="60" flex-sm="100" type="submit"
                                   ng-disabled="requestResetForm.$invalid" ng-click="requestPasswordReset()">
                            Reset password
                        </md-button>
                    </div>
                </md-content>
            </form>
            <div ng-show="passwordRequestMsg" class="modal-custom-body">
                {{passwordRequestMsg}}
            </div>
        </md-whiteframe>
    </div>

    <div layout="row" class="loginIEMaxWidth" layout-align="center center" ng-if="!isRequestingReset && !showExpiredTokenMessage">
        <md-whiteframe style="height: 100%; min-width: 500px;" class="md-whiteframe-4dp" layout="column" flex="40" flex-sm="100" layout-padding>
            <form class="loginIEMaxHeight" name="passwordSetForm">
                <md-content style="overflow-x: hidden">
                    <img ng-src="{{theme.logo}}" width="100%"/>
                    <md-input-container style="width: auto;" layout="row" layout-sm="column">
                        <label>Set Password</label>
                        <input style="flex: 1" ng-model="newPasswordObject.newPassword" type="password" required/>
                    </md-input-container>
                    <md-input-container layout="row" layout-sm="column">
                        <label>Confirm Password</label>
                        <input style="flex: 1" ng-model="newPasswordObject.confirmNewPassword" type="password" required/>
                    </md-input-container>
                    <md-input-container>
                        <div class="red-alert" ng-if="validationErrors" role="alert">
                            <div ng-repeat="errorText in validationErrors.User">
                                {{ errorText }}
                            </div>
                            <div ng-repeat="errorText in validationErrors['User.password']">
                                {{ errorText }}
                            </div>
                            <div ng-repeat="errorText in validationErrors['User.token']">
                                {{ errorText }}
                            </div>
                        </div>
                    </md-input-container>

                    <div layout="row" layout-sm="column" layout-align="center center" layout-margin>
                        <md-button class="md-raised" flex="40" flex-md="60" flex-sm="100" type="submit"
                                   ng-disabled="passwordSetForm.$invalid || !canSubmitPassword(newPasswordObject.newPassword)"
                                   ng-click="setNewPassword()">Save
                        </md-button>
                    </div>
                </md-content>
            </form>

            <div class="pwd-conditions-container">
                <div>
                    <div class="validation-group"
                         ng-class="{'valid': passwordConditions.hasRequiredLength(newPasswordObject.newPassword)}">
                        <i class="zmdi zmdi-check zmdi-hc-2x green"
                           ng-show="passwordConditions.hasRequiredLength(newPasswordObject.newPassword)"></i>
                        <i class="zmdi zmdi-close zmdi-hc-2x specialRed"
                           ng-show="!passwordConditions.hasRequiredLength(newPasswordObject.newPassword)"></i>
                        <div class="title" style="margin-left: 13px;">Minimum 8 characters in length</div>
                    </div>
                </div>

                <div class="multiple-conditions">
                    <div class="conditions-header"
                         ng-class="{'valid': passwordConditions.meetsConditions(newPasswordObject.newPassword)}">
                        <i class="zmdi zmdi-check zmdi-hc-2x green"
                           ng-show="passwordConditions.meetsConditions(newPasswordObject.newPassword)"></i>
                        <i class="zmdi zmdi-close zmdi-hc-2x specialRed"
                           ng-show="!passwordConditions.meetsConditions(newPasswordObject.newPassword)"></i>
                        <div class="title" style="display: inline-block; height: 24px; line-height: 24px; margin-left: 13px">
                            Meets at least 3 of the following:
                        </div>
                    </div>

                    <div class="conditions-item">
                        <div class="validation-group"
                              ng-class="{'valid': passwordConditions.hasLowerCaseChar(newPasswordObject.newPassword)}">
                            <i class="zmdi zmdi-check zmdi-hc-2x green"
                               ng-show="passwordConditions.hasLowerCaseChar(newPasswordObject.newPassword)"></i>
                            <i class="zmdi zmdi-close zmdi-hc-2x specialRed"
                               ng-show="!passwordConditions.hasLowerCaseChar(newPasswordObject.newPassword)"></i>
                            <div class="title">
                                Contains a lowercase character
                            </div>
                        </div>
                    </div>

                    <div class="conditions-item">
                        <div class="validation-group"
                              ng-class="{'valid': passwordConditions.hasUpperCaseChar(newPasswordObject.newPassword)}">
                            <i class="zmdi zmdi-check zmdi-hc-2x green"
                               ng-show="passwordConditions.hasUpperCaseChar(newPasswordObject.newPassword)"></i>
                            <i class="zmdi zmdi-close zmdi-hc-2x specialRed"
                               ng-show="!passwordConditions.hasUpperCaseChar(newPasswordObject.newPassword)"></i>
                            <div class="title">
                                Contains an uppercase character
                            </div>
                        </div>
                    </div>

                    <div class="conditions-item">
                        <div class="validation-group"
                              ng-class="{'valid': passwordConditions.hasNumber(newPasswordObject.newPassword)}">
                            <i class="zmdi zmdi-check zmdi-hc-2x green"
                               ng-show="passwordConditions.hasNumber(newPasswordObject.newPassword)"></i>
                            <i class="zmdi zmdi-close zmdi-hc-2x specialRed"
                               ng-show="!passwordConditions.hasNumber(newPasswordObject.newPassword)"></i>
                            <div class="title">
                                Contains an digit or number
                            </div>
                        </div>
                    </div>

                    <div class="conditions-item">
                        <div class="validation-group"
                              ng-class="{'valid': passwordConditions.hasSpecialChar(newPasswordObject.newPassword)}">
                            <i class="zmdi zmdi-check zmdi-hc-2x green"
                               ng-show="passwordConditions.hasSpecialChar(newPasswordObject.newPassword)"></i>
                            <i class="zmdi zmdi-close zmdi-hc-2x specialRed"
                               ng-show="!passwordConditions.hasSpecialChar(newPasswordObject.newPassword)"></i>
                            <div class="title">
                                Contains a special character ($, !, #, %, &, *, @)
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </md-whiteframe>
    </div>

</md-content>

<md-content layout="column" flex layout-align="center center" ng-if="showExpiredTokenMessage">
    <div class="loginIEMaxWidth" style="width: 100%; min-height: 300px;" layout="row" layout-align="center center">
        <md-whiteframe style="width: 100%; height: 100%;" class="md-whiteframe-4dp" layout="column" flex="30" flex-sm="100" flex-xs="100" layout-padding>
            <form name="form" class="loginIEMaxHeight">
                <md-content>
                    <img ng-src="{{theme.logo}}"  width="100%"/>

                    <div layout="row" layout-sm="column" layout-align="end center" layout-margin>
                        <span style="font-family: gotham_mediumregular">
                            Your link is valid for a limited amount of time and for a single use only.
                            <br>
                            Please contact the Clinical Engineering Department for assistance!
                        </span>
                    </div>
                </md-content>
            </form>
        </md-whiteframe>
    </div>

</md-content>

<md-button class="back-to-login" ng-if="isRequestingReset || showExpiredTokenMessage" ng-click="backToLogin()">
    <i class="zmdi zmdi-chevron-left"></i>
    Back to login
</md-button>
