<md-dialog flex="45" flex-md="50">
    <form name="form">
        <md-dialog-content>
            <div layout="column" layout-padding layout-margin>
                    <md-input-container flex="100" style="margin-top:50px">
                        <label>Send direct message</label>
                        <input name="textMessage" flex="100" ng-model="message.notificationText" required md-maxlength="64" minlength="5">
                        <div ng-if="form.textMessage.$dirty && form.textMessage.$invalid" role="alert">
                            <div class="red-alert" ng-if="form.textMessage.$error['md-maxlength']">Please add less characters!</div>
                            <div class="red-alert" ng-if="form.textMessage.$error['minlength']">Please add more characters!</div>
                        </div>
                    </md-input-container>
            </div>
        </md-dialog-content>
    </form>
    <md-dialog-actions>
        <md-button class="md-warn" ng-click="close()">Cancel</md-button>
        <md-button class="md-primary" ng-disabled="form.$invalid" ng-click="sendMessage()">Send</md-button>
    </md-dialog-actions>
</md-dialog>
