<div class="il-login-container" layout="row" layout-fill>
    <div layout="column">
        <div class="il-login-art-primary" md-colors="{background: 'primary'}" md-whiteframe="32"></div>
    </div>
    <div layout="column" layout-align="center center" flex> 
            <md-card layout-padding>
                <img ng-src="{{theme.logo}}" class="md-card-image" alt="Hospital Logo">
                <md-card-content layout="column">
                    <md-input-container>
                        <label>Email</label>
                        <input name="email" type="email" ng-model="user.email" required>
                    </md-input-container>
                    <div ng-if="form.email.$dirty && form.email.$invalid" role="alert">
                        <div class="red-alert" ng-if="form.email.$error['required']">Please enter an email address</div>
                        <div class="red-alert" ng-if="form.email.$error['email']">Please enter a valid email address</div>
                    </div>
                    <md-input-container>
                        <label>Password</label>
                        <input name="pwd" ng-model="user.password" type="password" required/>
                    </md-input-container>
                    <div ng-if="form.pwd.$dirty && form.pwd.$invalid" role="alert">
                        <div class="red-alert" ng-if="form.pwd.$error['required']">Please enter a password</div>
                    </div>
    
                    <md-input-container>
                        <div ng-messages="errors" ng-if="errors.length > 0" role="alert">
                            <div ng-repeat="errorText in errors">
                                {{ errorText.toString() }}
                            </div>
                        </div>
                    </md-input-container>
    
                    <div layout="row" layout-sm="column" layout-align="center center" layout-margin>
                        <md-button class="md-raised" flex="50" flex-sm="100" ng-disabled="form.$invalid" type="submit" ng-click="login()">Login</md-button>
                    </div>
                </md-card-content>
            </md-card>
            <div layout="column" layout-margin>
                <a class="forgot-password-btn" href="#/resetPassword">
                    Forgot password?
                </a>
            </div>
            <div layout = "row" layout-wrap class="download-app" layout-margin ng-if="storeIosURL || storeAndroidURL">
                <div layout="row" ng-if="storeIosURL">
                    <i class="zmdi zmdi-apple"></i><span>&nbsp;Download your iOS app&nbsp;</span><a class="forgot-password-btn" ng-href="{{'itms-services://?action=download-manifest&url='+storeIosURL}}">here</a>
                </div>
                <!-- <div layout="row" ng-if="storeAndroidURL" >
                    <i class="zmdi zmdi-android"></i><span>&nbsp;Download your Android app&nbsp;</span><a class="forgot-password-btn" ng-href="{{storeAndroidURL}}">here</a>
                </div> -->
            </div>
    
            <div ng-show="isAccountLocked" class="locked-account">
                {{::lockedMessage}}
            </div>
        </div>
    <div layout="column">
        <div md-colors="{background: 'accent'}" class="il-login-art-accent" md-whiteframe="32"></div>
    </div>
</div>
