<div class="il-toggle-button-group">
    <md-button id="il-toggle-button" class="md-icon-button" ng-click="buttonToggle.toggle(0)" ng-class="{'md-primary': buttonToggle.state == 0}">
        <md-icon id="il-toggle-button-icon">view_stream</md-icon>
    </md-button>
    <md-button id="il-toggle-button" class="md-icon-button" ng-click="buttonToggle.toggle(1)" ng-class="{'md-primary': buttonToggle.state == 1}">
        <md-icon id="il-toggle-button-icon">view_module</md-icon>
    </md-button>
</div>