<div layout="row" flex>
    <md-card flex>
        <div layout="row" class="md-toolbar-tools" hide-gt-xs>
            <div class="il-databar-headline">
                Beacon Overview
            </div>
            <span flex></span>
            <md-button class="md-icon-button">
                <md-icon id="il-databar-button-override">more_vert</md-icon>
            </md-button>
        </div>
        <div layout="row" class="md-toolbar-tools" layout-margin>
            <div layout="column" layout-align="start center" flex="40"> 
                <div class="md-headline" md-colors="{color: 'primary-400'}" layout="row" layout-align="center end" style="height:40px">
                    {{databar.usedBeacons}}
                </div>
                <div class="md-subhead il-databar-content-title" layout="row" layout-align="center center">
                    Allocated Beacons
                </div>
            </div>
            <md-divider style="height:80%"></md-divider>
            <div layout="column" layout-align="start center" flex="40">
                <div class="md-headline" md-colors="{color: 'primary-400'}" layout="row" layout-align="center end" style="height:40px">
                    {{databar.freeBeacons}}
                </div>
                <div class="md-subhead il-databar-content-title" layout="row" layout-align="center center">
                    Free Beacons
                </div>
            </div>
            <md-divider style="height:80%"></md-divider>
            <div layout="column" layout-align="start center" flex="20">
                <div layout="row" layout-align="center center">
                    <md-button class="md-icon-button md-primary" ng-click="databar.onAllocate()">
                        <i class="zmdi zmdi-plus zmdi-hc-2x"></i>
                    </md-button>
                </div>
                <div class="md-subhead il-databar-content-title" layout="row" layout-align="center center">
                    Allocate
                </div>
            </div>
        </div>
    </md-card>
</div>
